* {
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;   
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgb(17, 17, 17);
    background-color: rgb(237, 238, 245);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: rgb(97, 97, 115);
}
        .topLeft {
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            width: 40%;
            font-size: 15px;
        }
        .topLeft a {
            color: black;
            text-decoration: none;
        }
        .topLeft h3:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .topRight {
            display: inline-flex;
            align-items: center;
            width: 30%;
            height: 100%;
            position: absolute;
            right: 10px;
        }

        .topRight .github{
            width: 48px;
            margin-left: 5%;
        }
        .topRight .github:hover {
            transform: scale(1.1); 
            cursor: pointer;
        }
  
        .topRight .twitter {
            width: 55px;
            margin-left: 20px;
        }
        .topRight .twitter:hover {
            transform: scale(1.1); 
            cursor: pointer;
        }
  
        .topRight .gmail {
            width: 35px;
            margin-left: 25px;
        }
        .topRight .gmail:hover {
            transform: scale(1.1); 
            cursor: pointer;
        }
  
        .topRight .insta {
            width: 27px;
            margin-left: 33px;
        }
        .topRight .insta:hover {
            transform: scale(1.1); 
            cursor: pointer;
        }
  
body h1 {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
}

main {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;

    border: 6px solid gray;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5), -5px -5px 5px rgba(118, 118, 118, 0.5);
}

        main .tech {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main .nontech {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        main .proficient {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .proficient img {
            width: 20%;
        }


     

footer {
    display: flex;
    position: absolute;
    bottom: -70%;
    height: 50px;
    width: 100%;
    background-color: rgb(97, 97, 115);
    align-content: center;
}

footer p {
    font-size: 15px;
    font-weight: 400;
    margin-left: 5%;
    width: 100%;
}
        